/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.enemy{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  z-index: 9999;
  display: inline;
}
